<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="sidemenu" class="menu-collapsed">
        
        <div id="header">
            <div id="title"><span>vida mRR</span></div>
            <div id="menu-btn">
                <div class="btn-humburger"></div>
                <div class="btn-humburger"></div>
                <div class="btn-humburger"></div>
            </div>
        </div>

        <!-- profile -->
        <div id="perfil">
            <div id="foto"><img src="../../../static/base/assets/img/eliminar.png" alt=""></div>
            <div id="name"><span>Emprendimientos Quilanga</span></div>
        </div>
        <!-- items -->
        <div id="menu-item">
            <div class="item">
                <a href="#">
                    <div class="icon"><img src="../../../static/base/assets/img/eliminar.png" alt=""></div>
                    <div class="title"><span>Cloud Services</span></div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>