{% extends 'base/base.html'%}
{% block slider %}{% endblock %}
{% block nav %}{% endblock %}
{% block footer %}{% endblock %}
{%load static%}

{%block gracias%}
<style>
    section {
        background: white;
    }

    .page-section {
        background: white;
        padding-bottom: 0px;
    }

    .send-message {
        display: flex;
        align-items: center;
        height: auto;
        width: 100%;
        margin-top: 0px;
    }

    .send-message>img {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        padding-top: 0px;
        filter: blur(5px);
        z-index: 1;
    }

    .send-message #cont i img {
        margin-bottom: 15px;
        height: 40px;
        width: 60px;
    }
    
    .cont-card{
        width: 100%;
        text-align: -webkit-center;
    }
    
    .card {
        width: 480px;
        height: 450px;
        margin: 5px;
        text-align: center;
        border: solid 1px;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: 500px) {
        .card {
            width: 280px;
        }
    }

    .card .imagen img {
        margin-top: 10px;
        height: 80px;
        width: 100px;
    }

    #boton-volver {
        margin: 10px;
        margin-bottom: 10px;
        justify-content: center;
    }

    #cont {
        justify-content: center;
        width: 100%;
        z-index: 2;
    }

    #cont .text-center>i {
        color: #fff;
    }
</style>
<br>
<br>
<div class="send-message">
    <img src="../../../static/base/assets/img/mapa-send-message.png" alt="">
    <div id="cont">
        <div class="text-center">
            <i style="font-weight: 800; font-size: 30px;">
                <img src="../../../static/base/assets/img/logo_municipal.png" alt="">
                MUNICIPIO DE QUILANGA
            </i>
        </div>
        <div class="cont-card">
            <div class="card">
                <div class="imagen">
                    <img src="../../../static/base/assets/img/accept-47587_640.png" alt="">
                </div>
                <hr>
                <div class="content">
                    <h2 class="section-heading" style="margin: 15px; font-size: 1.5rem;">
                        Gracias por ponerte en contacto con nosotros. Con gusto atenderemos tu mensaje.
                    </h2>
                </div>
                <hr>
                <a id="boton-volver" class="btn btn-primary" href="/" role="button"
                    style="font-size: 20px; height: 80px; width: 15rem;">
                    Volver a la página principal
                </a>
            </div>
        </div>
    </div>
    <br>
</div>
{%endblock%}